/* src/App.css */

.App {
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100%;
    width: 100%;
  }
  
  /* Add these styles to create the "cut" effect */
  .react-flow__edge-path {
    stroke: #000;
    stroke-width: 3px;
    opacity: 1;
  }
  
  .react-flow__edge.cut-start .react-flow__edge-path {
    stroke-dasharray: 0 20; /* Adjust dash length */
  }
  
  .react-flow__edge.cut-end .react-flow__edge-path {
    stroke-dasharray: 20 0; /* Adjust dash length */
  }

  .react-flow__renderer {
    overflow: visible;
    z-index: 1;
  }
  